.overlay {
    width: 100%;
    background: rgba(0,0,0,.3);
}

.home__quick-navigate {
    padding: 50px 0;
}
.footer-widget-heading {
    text-align: center;
    margin-bottom: 20px;
}
.gaping {
    padding: 30px 0;
}
.cart-category-heading {
    padding: 10px 0;
}
.cart-category-heading h2 {
    font-size: 16px;
}
.product-title {
    padding: 7px 0;
}
.product-title h4 {
    color: #000;
    font-weight: 800;
}

.item__select_widget {
    margin-bottom: 20px;
}
.price__range_wrap {
    margin-bottom: 20px;
}
.item__widget-heading {
    padding: 0 0 20px 0;
}

.checkbox-entry {
    display: block;
    margin-bottom: 10px;
}
.bread-crumbs-wrap {
    padding: 40px 0;
}

.product-element-wrap {
    padding: 25px 0;
}
.description.valign-middle h3 {
    color: #000;
    font-size: 22px;
    font-weight: 800;
}


.product-wrap {
    padding: 50px 0;
}


.col-xs-b5 {
    margin-bottom: 15px;
}

.check-box {
    display: inline-block;
    padding-right: 33px;
}

.checkout-wrap {
    margin: 0 auto;
    max-width: 500px;
}
.simple-article h4, .h4 {
    font-size: 13px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}
.cart-view-wrap {
    padding: 50px 0;
}
.categories_heading h3 {
    font-size: 17px;
    font-weight: 800;
}
a.cart-entry-thumbnail {
    border: 1px solid #bbb;
    padding: 9px;
}
a.cart-entry-thumbnail img {
    max-width: 193px;
    max-height: 133px;
}
.cart-table tbody td {
    padding: 10px 9px 10px 0;
}
.cart-table th:first-child {
    border-radius: 3px 0 0 3px;
}
.cart-table th:last-child {
    border-radius: 0 3px 3px 0;
}
.subtotal-blog {
    min-width: 497px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 4px 4px 1px #eee;
    padding: 17px 20px 9px;
    margin-bottom: 20px;
    margin-top: 20px;
}
p.total-price {
    margin-bottom: 12px;
}
p.total-price span {
    margin-left: 41px;
}
p.all-total-price {
    margin-top: 17px;
    border-top: 1px solid#eee;
    padding-top: 10px;
}
.price-block {
    display: table;
    width: 100%;
}
.search__resturent__container {
    padding: 30px 0;
}
.category__item {
    position: relative;
    background: #fff;
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    -moz-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    -webkit-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    -ms-transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    padding: 0px;
    text-align: center;
    border-radius: 4px;
}

.category__item:hover {
    transform: translate(0px, -5px) rotate(0.01deg);
    -moz-transform: translate(0px, -5px) rotate(0.01deg);
    -webkit-transform: translate(0px, -5px) rotate(0.01deg);
    -ms-transform: translate(0px, -5px) rotate(0.01deg);
    -webkit-box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 25px 30px 0 rgba(0, 0, 0, 0.15);
}
.category__heading {
    padding: 0 0 20px 0;
    text-align: center;
}
.category__heading h3 {
    margin: 0;
    padding: 0;
}
.category__item__content h3 {
    margin: 0;
    color: #c1c1c1;
    font-size: 20px;
    font-weight: 900;
}
.category__bg img {
    width: 100%;
    height: auto;
    display: block;
}
.category-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.category__caption {
    position: absolute;
    bottom: 43%;
    left: 0;
    right: 0;
    text-align: center;
}
.catergory__item_list_container {
    padding: 50px 0;
}
a.btn.btn-default.btn-cart {
    background: #610c11;
    line-height: 1;
}
.content.coming-soon h1 {
    font-weight: 900;
}

.desc-heading {
    padding: 7px;
    background: #fbfbfb;
}
.desc-heading h5 {
    font-weight: 600;
}
.desc-content {
    padding: 14px 0;
}
.desc-content ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 11px;
    color: #616161;
    padding-right: 9px;
    margin-left: 9px;
}
.product-price {
    padding: 24px 0;
}
span.price {
    margin-left: 9px;
    font-size: 23px;
}
.title-heading {
    margin-bottom: 17px;
    font-size: 16px;
}

.simple-input, .SumoSelect > .CaptionCont {
    font-size: 14px;
    color: #555;
    height: 38px;
    line-height: 36px;
    padding: 0 30px;
    width: 100%;
    border: 1px #eee solid;
    border-radius: 0px;
    -webkit-border-radius: 0;
    transition: all .15s;
    -webkit-transition: all .15s;
}
.button.size-2 {
    font-size: 11px;
    line-height: 5px;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.quantity-select {
    height: 35px;
    line-height: 33px;
    border-radius: 21px;
    -webkit-border-radius: 0px;
    border: 1px #eee solid;
    width: 200px;
    position: relative;
}

.quantity-select .minus, .quantity-select .plus {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.drinks-type {
    margin-bottom: 20px;
}
.tab-menu {
    border-radius: 0;
    -webkit-border-radius: 0;
}
nav > ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.header-top .language-toggle a {
    padding: 5px 12px;
}
.header-top .language-toggle {
    padding: 0px 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.header-search-content {
    padding: 2px 0 12px 0;
}
.swiper-container.rounded {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.gift-a-coupon-wrap {
    max-width: 600px;
    margin: 0 auto 50px auto;
}
.gift-a-coupon-heading {
    padding: 0 0 50px 0;
}
.gift-a-coupon-heading h2 {
    font-weight: 900;
    font-family: Raleway;
}
.label-title {
    margin-bottom: 20px;
}

.category__caption.occassion h3 {
    margin-bottom: 15px;
}
span.occasion-tag {
    color: #fff;
}
.filter-option-heading {
    margin-bottom: 15px;
}
.tag {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.button.size-1 {
    border-radius: 0;
    -webkit-border-radius: 0;
}
.pagination {
    border-radius: 0;
    -webkit-border-radius: 0;
}


@media(max-width: 526px) {
	.button span.text {
	    display: none;
	}
	.banner-shortcode.style-3 {
	    margin-bottom: 20px;
	}
}